<div class="row pr-2 pl-2" style="margin-top: 100px;">
    <div class="col-lg-2 col-md-0 col-sm-0 col-0 bg-success">
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-12 bg-warning">
        <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
    </div>

    <div class="col-lg-6 col-md-8 col-sm-12 col-12">
        <div class="mb-1">
            <button class="btn btn-success" routerLink="/">Problems</button>
            <!-- <button class="btn btn-success float-right">next</button> -->
        </div>
        <div *ngFor="let sol of questions[0].data">
            <app-editor-card [question]="sol"
                [company]="questions[0].company"
                [topic]="questions[0].topic">
            </app-editor-card>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-0 col-0 bg-info">
    </div>
</div>
