.card-header {
    margin: 0px !important;
    border-bottom: 0px !important;
}

.btn {
    padding: 0px 5px !important;
}

.fa {
    font-size: 20px !important;
}

.code-bg {
    background: lightgray !important;
}

::ng-deep .pre-marbtm-0 {
    margin-bottom: 0px !important;
    padding: 5px 10px 5px 10px !important;
}