<div class="row">
    <div class="col-6" flexLayout="column" flexLayoutAlign="center center">
        <div class="col-12" *ngFor="let i of [1,2,3,4]" wmAnimate="fadeInRight" speed="normal" aos>
            <app-category-card ></app-category-card>
        </div>
    </div>
    <div class="col-6" flexLayout="column" flexLayoutAlign="center center">
        <div class="col-12" *ngFor="let i of [1,2,3,4]" wmAnimate="fadeInLeft" speed="normal" aos>
            <app-category-card ></app-category-card>
        </div>
    </div>
    
    
</div>