
    <div id="link0" class="jumbotron text-center" fxLayout="column" fxLayoutAlign="center center">
        <h1 class="mat-display-2">Company</h1> 
        <h1>The world's first inclusive free stock coding & question library</h1>
    </div>
    <div class="row container-fluid">
        <div *ngFor="let i of [1,2,3,4,5,6,7,8,2,3,4,5,6,7,8]" class="col-sm-6 col-md-4 col-lg-3">
            <a routerLink="contentview">
                <app-content-card></app-content-card>
            </a>
        </div>
    </div>

