<!-- <div id="parentDiv" style="height:100vh;overflow-y: scroll;"> -->
    <div class="row container-fluid">
        <div *ngFor="let i of [1,2,3,4,5,6,7,8,2,3,4,5,6,7,8]" class="col-sm-6 col-md-4 col-lg-3">
            <a routerLink="contentview"><app-content-card></app-content-card></a>
        </div>
    </div>
<!-- </div> -->

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Company Page</h2><br>
            <h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aliquam repudiandae consequuntur minima accusamus rerum dolor id velit magni, illum iusto eveniet consequatur, ad quae necessitatibus fugiat commodi quos molestiae. Beatae libero perferendis pariatur, iusto at veritatis. Fugiat et iure ipsum laboriosam eos rerum, voluptatem cupiditate repellendus amet similique officia adipisci? Optio possimus inventore neque tempora eos accusamus qui sint, facilis esse illo ut omnis distinctio, recusandae, molestiae cumque odit magnam. Vero ab distinctio, numquam voluptatum amet, quos odit fugit impedit totam fuga, quis assumenda temporibus. Blanditiis, saepe est similique neque, illum veritatis consequatur perferendis libero, fuga minus modi tempora?
            </h4>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>
<div class="container-fluid bg-grey">
    <div class="row center">
    <h2> What is Company? </h2>
    </div>
    <div class="row" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="10px">
        <app-features-card *ngFor="let i of [1,2,3,4,5,6,7,8]"></app-features-card>
    </div>
</div>
<div class="container-fluid bg-grey">
    <h2>Category</h2>
        <app-category></app-category>
</div> -->
