You can add global styles to this file, and also import other style files
html, body { height: 100%; }
body { margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;    
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181; 
}
      


  .error-notification-overlay {
    color: black;
    background-color: red;
  }

  .info-notification-overlay {
    color: black;
    background-color: white;
  }

  .success-notification-overlay {
    color: black;
    background-color: green;
  }

  .warning-notification-overlay {
    color: black;
    background-color: yellow;
  }
  