<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      [ngClass]="{hidden: (isHandset$ | async)!.matches}"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item>Link 1</a>
      <a mat-list-item>Link 2</a>
      <a mat-list-item>Link 3</a>
      <a mat-list-item>Link 4</a>
      <a mat-list-item>Link 5</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Programmer-App</span>
      <div class = "toolbarList" *ngIf="(isHandset$ | async) === false">
        <a mat-list-item>Link 1</a>
        <a mat-list-item>Link 2</a>
        <a mat-list-item>Link 3</a>
        <a mat-list-item>Link 4</a>
        <a mat-list-item>Link 5</a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
