<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      [ngClass]="{hidden: (isHandset$ | async)!.matches}"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list fxLayout="column" fxLayoutAlign="space-between">
      <a mat-list-item  routerLink="" routerLinkActive="">Content</a>
      <a mat-list-item  routerLink="" routerLinkActive="">Feed</a>
      <a mat-list-item  routerLink="" routerLinkActive="">About Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="background-color: black;"   [ngClass]="{'bg-dark':scroll}">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">
        <a mat-list-item routerLink=""><h1>CodeManga</h1></a>
      </span>
      
        <a mat-list-item routerLink="content" routerLinkActive="" *ngIf="(isHandset$ | async) === false" [ngClass]="{'active': currentActive === 'link1'}">Content</a>
        <a mat-list-item routerLink="" routerLinkActive="" *ngIf="(isHandset$ | async) === false" [ngClass]="{'active': currentActive === 'link2'}">Feed</a>
        <a mat-list-item routerLink="" routerLinkActive="" *ngIf="(isHandset$ | async) === false" [ngClass]="{'active': currentActive === 'link3'}">About Us</a>
      
      <button mat-icon-button>
        <mat-icon aria-label="Login">login</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>